
{% extends 'base.html' %}


{% block content %}

<footer>

</footer>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>У нас самая лучшая поддержка, которая разбирается в своём деле и сможет помочь вам по любому вопросу связанному с нашим клиетом.</title>
    <link rel="stylesheet" href="styles.css"> <!-- Подключаем CSS файл -->
</head>
<body>
    <div class="container3">
        <div class="square">
            <p>Попытки махинаций оплатами, или ввод Администрации в заблуждение наказываются баном без возврата средств;
Предоставьте чек оплаты, если хотите написать Администрации о пропаже, непоявлении доната после покупки. Без данного подтверждения администрация вправе отказать Вам в предоставлении купленной услуги;
Администрация не обязана предоставлять доказательства нарушений донатера у которого сняли привилегию за нарушение выше указанных правил..</p>
        </div>
    </div>
</body>
<footer style="background-color: #000000; padding: 20px;">
    <div style="display: flex; justify-content: space-around;">
        <a href="https://nursultan.fun" style="f">
            <div style="border-radius: 60%; background-color: #333; width: 50px; height: 50px;">
            </div>
        </a>
        Наши Чит Клиенты
        <a href="https://celka.su/cabinet" style="text-decoration: none;">
            <div style="border-radius: 50%; background-color: #777; width: 50px; height: 50px;"></div>
        </a>
    </div>
    <p style="text-align: center; margin-top: 10px;">По всем вопросам, пишите на почту.
exxiizz27@gmail.com (ПН-ПТ 10:00-18:00 МСК)</p>
</footer>
</div>
<style>
        body {
            background-color: #333333; /* Замените значение на нужный вам цвет */
        }
    </style>
<h1></h1>
<p></p>

{% endblock %}
